<section class="development">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Development</h1>
        <hr>
        <p>SEARCH FOR YOUR FEATURE HOME</p>
        <%= image_tag 'arrow-gray.png' %>
      </div>
    </div>
  </div>
</section>
<section class="development-btm">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <h1>NEW<br>DEVELOPMENTS</h1>
          </div>
          <div class="col-md-4">
            <h1>EXISTING<br>DEVELOPMENTS</h1>
          </div>
          <div class="col-md-4">
            <h1>RESIDENCES</h1>
          </div>
      </div>
    </div>
  </div>
</section>
