<section class="eb5">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>EB-5 Visa Immigrant<br>Investor Program</h1>
        <hr>
        <a href="#next"><%= image_tag "arrow-down-white.svg", class: 'scroll-down' %></a>
      </div>
    </div>
  </div>
</section>
<section class="eb5-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>LEARN THE IMPORTANCE</h1>
        <p class="eltop">Learn from a board certified specialist how Individuals can obtain a green card with an EB-5 visa, and how a U.S. business can raise eb-5 capital at a competitive rate of interest per annum.</p>
        <div class="delimiter"></div>
        <p>Investment Immigration today is more popular than it has ever been in its existence. Administered by the U.S. Citizenship and Immigration Services or USCIS, the Immigrant Investor Program and the EB-5 Visa were created by the U.S. Congress in 1990 in order to stimulate the U.S. economy through job creation and capital investment by foreign investors. The visa category was originally labeled under the title of Employment Creation by the Immigration Act of 1990, or IMMACT90.  The EB-5 program also allowed the Immigration and Naturalization Service (INS) to lower the minimum investment from $1 million to $500,000 in targeted areas such as a rural area or an area which has experienced high unemployment (of at least 150 percent of the national average rate). In 1992, Congress amended the EB-5 program in order to allow for the establishment of private enterprises known as “regional centers,” in order to promote economic growth and job creation in specific geographic and industrial areas. Initially called the Regional Center Pilot Program, Congress has continued to reauthorize the program.  In 2012, Congress changed the name of the regional center program to the Regional Center Program, striking the word “pilot” from its title.  Although not a current necessity, the EB-5 Regional Center Program also created a set-aside of 3,000 visas for EB-5 investments made in Regional Centers designated by USCIS.  In essence, in the 20 years since the regional center program was created, it has undergone many administrative policy changes, making it more amenable to investors.</p>
        <br>
        <p>While the EB-5 program has evolved over time, its core mission has not changed. The EB-5 visa can benefit business developers who are in search of capital for their projects, as well as the individual investors who can seek a green card based on a $500,000 to $1 million investment. The EB-5 Visa program for developers and businesses allows them to pool foreign investment capital contributions for use in commercial projects. Individual investors also have options, depending on whether they would like to be directly involved in their own commercial enterprise and oversee the necessary job creation on a daily basis, or whether the investor prefers to place his capital at risk with a USCIS-designated Regional Center project. At our law firm, we have a unique experience because we have represented both commercial businesses seeking foreign capital and individual investors applying for EB-5 visas. Attorney Michael A. Harris has experience in the complex business and economic structuring needed to qualify a U.S. business for the EB-5 program—as well as for individual investors in the documentation of their lawful source of funds.  Mr. Harris has served as counsel for complex EB-5 commercial real estate and industrial development projects. He is also a member of the Association to Invest In the USA (IIUSA), which is a national trade association for the EB-5 Regional Center Program. Please read through our site for additional information about the EB-5 program, or contact Mr. Harris for an initial review of your EB-5 plans.</p>
      </div>
    </div>
  </div>
</section>
<section class="eb5-content2">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Summary of the EB-5 Visa Program REQUIREMENTS</h1>
        <hr>
        <p>Whether in the regional center program or as an individual investor, all EB-5 Visa investors<br>are required to invest in a new commercial enterprise that was:<br>Established after November 29, 1990</p>
        <hr>
        <p>Established on or before November 29, 1990, that is either:<br>Purchased by the EB-5 investor and then results in the existing business being restructured or reorganized in such a way that a new commercial enterprise results; or<br>expanded through the investment so that a 40-percent increase in the net worth or number of employees occurs.</p>
      </div>
    </div>
  </div>
</section>
<section class="eb5-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'projects.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10-loco">
            <p>The type of  business required by USCIS involves a business activity which generates a profit and created as either a:</p>
            <br>
            <p>Sole proprietorship</p>
            <hr>
            <p>Partnership (whether limited or general)</p>
            <hr>
            <p>Holding company</p>
            <hr>
            <p>Joint venture</p>
            <hr>
            <p>Corporation</p>
            <hr>
            <p>Business trust or other entity, which may be publicly or privately owned</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="eb5-content2">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Job Creation Requirements</h1>
        <hr>
        <p>One of the fundamental aspects of the EB-5 Visa Program is job creation.  This means that jobs are created or preserved for at least 10 full-time jobs for qualifying U.S. workers within two years (or under limited circumstances, within a reasonable time after the two-year period) of the EB-5 investor’s admission to the U.S. as a Conditional Permanent Resident. Each EB-5 investor’s funds must lead to either direct job creation, or indirect job creation (if the investment is affiliated with a USCIS approved regional center). Direct jobs are actual identifiable jobs for qualified employees located within the commercial enterprise into which the EB-5 investor has directly invested his or her capital. Indirect jobs are those jobs shown to have been created collaterally or as a result of capital invested in a commercial enterprise affiliated with a regional center by an EB-5 investor.</p>
        <br>
        <p>As an exception under the traditional direct or indirect job creation, EB-5 investors may also seek to be credited with preserving jobs in a troubled business. This is an enterprise that has been in existence for at least two years and has incurred a net loss during the 12- or 24-month period prior to date of investment (or filing) by the EB-5 investor. The loss for this period must be no less than 20 percent of the business’ net worth prior to the loss.</p>
      </div>
    </div>
  </div>
</section>
<section class="eb5-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Capital Investment Requirements</h1>
        <hr>
        <p>The EB-5 Visa Program also mandates that capital be invested into the commercial enterprise.  This means cash, equipment, inventory, other tangible property, cash equivalents and indebtedness secured by assets owned by the EB-5 investor (but not the EB-5 investment property). It is important to note that investments secured by debt require that the EB-5 investor be personally and primarily liable for the indebtedness. All capital shall be valued at fair-market value in United States dollars. Further, USCIS will require that all funds or assets acquired for the investment be proven to be obtained through lawful means.</p>
        <br>
        <p>Each investor must invest the minimum qualifying amount in the United States.  The amount required is $1 million unless the business where the investment is being made is in a Targeted Employment Area (High Unemployment or Rural Area) or TEA. As such, if the investment is in a TEA, then the minimum qualifying investment is $500,000.</p>
        <br>
        <p>To learn more about the Immigrant Investor Program, please contact our Board Certified EB-5 Visa Attorney.</p>
      </div>
    </div>
  </div>
</section>
