<section class="executive">
  <div class="bkg"></div>
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>EXECUTIVE CARS</h1>
        <hr>
        <a href="#next"><%= image_tag 'arrow-down-white.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="executive-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>TRANSPORT YOURSELF</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Even the objective is the same (transport from point A to B), we believe in the fact that there are different ways to travel and live an experience of style and pleasure while moving.</p>
      </div>
      <div class="col-md-5">
        <p>We kindly offer our clients an exclusive service of chauffeur pick-up for  their arrivals as well as luxury transportantion (with or without chauffeur) for the period of time in which they will be in Miami. From a prestigious and spacious Rolls Royce to a top-of-the-line  Mercedes Benz G63 AMG (also available: Audi, Range Rover, Bentley & Cadillac).</p>
      </div>
    </div>
  </div>
</section>

<section class="executive-info">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row v-center">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-4">
          <p class="content">We offer our clients the following selection of exclusive executive automobiles for their confort and pleasure while their stay in Miami. Rentals may include chauffeur service per request.</p>
        </div>
        <div class="col-sm-4">
          <p>Elegance ($299-$1499 USD a day)</p>
          <hr>
          <ul>
            <li>Rolls Royce Phantom Drophead</li>
            <li>Rolls Royce Wraith</li>
            <li>Rolls Royce Ghost</li>
            <li>Bentley Mulsanne</li>
            <li>Bentley Flying Spur</li>
            <li>Mercedes Benz S Class</li>
            <li>Mercedes Benz CL 63 AMG</li>
            <li>Jaguar XJL</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <p>SUV ($499-$549 USD a day)</p>
          <hr>
          <ul>
            <li>Range Rover Autobiography</li>
            <li>Range Rover HSE Sport</li>
            <li>Porsche Cayenne GTS</li>
            <li>Cadillac Escalade ESV</li>
            <li>Mercedes Benz G63 AMG</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="next-development" style="background:#fafafa;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>BACK TO</h3>
        <hr>
        <h1>CONCIERGE</h1>
        <%= link_to image_tag('arrow-right-gray.svg', style: 'transform: rotate(180deg);'), concierge_path %>
      </div>
    </div>
  </div>
</section>
