<section class="executive">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>EXECUTIVE CARS</h1>
        <a href="#next"><%= image_tag 'arrow.png' %></a>
      </div>
    </div>
  </div>
</section>
<section class="executive-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>TRANSPORT YOURSELF</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Automobiles are in fact the main way of transportation used in the city of Miami. Though we believe on the fact that there are different ways to experience the exact same situation & that actually style can possibly play an important roll on it, and even though the objective is the same (get from point A to B).</p>
      </div>
      <div class="col-md-5">
        <p>We kindly offer our clients an exclusive service of chauffeur pick-up for  their arrivals as well as luxury transportantion (with or without chauffeur) for the period of time in which they will be in Miami. From a prestigious and spacious Rolls Royce to a top-of-the-line  Mercedes Benz G63 AMG (also available: Audi, Range Rover, Bentley & Cadillac).</p>
      </div>
    </div>
  </div>
</section>
<section class="executive-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'projects.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LOREM IMPSUM</h1>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
            <hr>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
