<section class="exotic">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>EXOTIC CARS</h1>
        <a href="#next"><%= image_tag 'arrow.png' %></a>
      </div>
    </div>
  </div>
</section>
<section class="exotic-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>RIDE ON THE TOP OF THE LINE</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Miami is here, is here to be lived. To be enjoyed, to bring out emotions & pleasures to its guests. And as some of our clients are “motor enthusiasts” we bring to the table a large selection of the very best Hot Wheels available in the world today for you to:</p>
      </div>
      <div class="col-md-5">
        <p>1) insert the key, 2) get those cylinders running and 3) get the best out ofeach sports car no matter the origin: Italian, German, British. You name it. *Ferrari, Lamborghini, Maseratti, Aston Martin, Bentley, Audi, BMW, M. Benz & more.</p>
      </div>
    </div>
  </div>
</section>
<section class="exotic-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'projects.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LOREM IMPSUM</h1>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
            <hr>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
