<section class="exotic">
  <div class="bkg"></div>
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>EXOTIC CARS</h1>
        <hr>
        <a href="#next"><%= image_tag 'arrow-down-white.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="exotic-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>RIDE ON THE TOP OF THE LINE</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Even the objective is the same (transport from point A to B), we believe in the fact that there are different ways to travel and live an experience of style and pleasure while moving.</p>
      </div>
      <div class="col-md-5">
        <p>1) insert the key, 2) get those cylinders running and 3) get the best out ofeach sports car no matter the origin: Italian, German, British. You name it. *Ferrari, Lamborghini, Maseratti, Aston Martin, Bentley, Audi, BMW, M. Benz & more.</p>
      </div>
    </div>
  </div>
</section>
<section class="exotic-info">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-3">
          <p>Exotic ($1199-$3499/day)</p>
          <hr>
          <ul>
            <li>Lamborghini Aventador Roadster</li>
            <li>Lamborghini Aventador</li>
            <li>Lamborghini Huracán</li>
            <li>Lamborghini Gallardo Spyder</li>
            <li>Ferrari 458 Italia</li>
            <li>Ferrari 458 Spyder</li>
            <li>Ferrari FF</li>
            <li>Ferrari California</li>
            <li>Ferrari 488 GTB</li>
            <li>Ferrari Scuderia Spyder 16M</li>
            <li>Bentley Continental GTC</li>
            <li>Audi R* Spyder</li>
            <li>BMW i8</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <p>Sport ($349-$1199/day)</p>
          <hr>
          <ul>
            <li>Porsche Carrera S Cabriolet</li>
            <li>Porsche Panamera GTS</li>
            <li>Porsche Carrera 4S</li>
            <li>Porsche Boxter</li>
            <li>Maserati Grand Turismo Cabrio Sport</li>
            <li>Nissan GTR</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <p>Elegance ($299-$1499/day)</p>
          <hr>
          <ul>
            <li>Rolls Royce Phantom Drophead</li>
            <li>Rolls Royce Phantom Drophead</li>
            <li>Rolls Royce Phantom Drophead</li>
            <li>Rolls Royce Wraith</li>
            <li>Rolls Royce Ghost</li>
            <li>Bentley Mulsanne</li>
            <li>Bentley Flying Spur</li>
            <li>Mercedes Benz S Class</li>
            <li>Mercedes Benz CL 63 AMG</li>
            <li>Jaguar XJL</li>
          </ul>
        </div>
        <div class="col-sm-3">
          <p>SUV ($499-$549/day)</p>
          <hr>
          <ul>
            <li>Range Rover Autobiography</li>
            <li>Range Rover HSE Sport</li>
            <li>Porsche Cayenne GTS</li>
            <li>Cadillac Escalade ESV</li>
            <li>Mercedes Benz G63 AMG</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="next-development" style="background:#fafafa;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>BACK TO</h3>
        <hr>
        <h1>CONCIERGE</h1>
        <%= link_to image_tag('arrow-right-gray.svg', style: 'transform: rotate(180deg);'), concierge_path %>
      </div>
    </div>
  </div>
</section>
