<section class="finance">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>FINANCING</h1>
        <hr>
        <a href="#next"><%= image_tag 'arrow-down-white.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="sky-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>LET US GUIDE YOU WITH FINANCING</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Crucial matter for many of our international buyers, therefore we solved the situation in advance and partnered up with a special selection of mortgage brokers firms specialized in foreign buyer’s transactions, offering always the best possible rates and terms in the market.</p>
      </div>
      <div class="col-md-5">
        <p>The opportunity of financing in the USA is always something to consider because o the competitive annual rates.</p>
      </div>
    </div>
  </div>
</section>

<section class="finance-info"></section>

<section class="finance-info2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
          <p>It is a fact there is a large number of qualified options for financing in South Florida who offer special assistance to foreign investors coming from all around the world such as South America, Asia and Middle East. We introduce you to who will provide you a personalized and confidential attention that will analyze each case and offer nothing but the best solution and possible rates.</p>
          <br>
          <p>To obtain a loan /mortgage as a foreign national client, the following documents are required:</p>
          <p>1. Two personal bank reference letters which state the average balance and the date the accounts were opened.
          <p>2. One letter stating your income (in US dollars) for the last two calendar years and for current year. Letter must be signed by licensed Accountant. *Photocopy of license or professional ID of who signed.</p>
          <p>3. Proof of business in country of origin.</p>
          <p>4. Proof of address of current residence.</p>
          <p>5. Four personal credit reference letters.</p>
          <p>6. Personal bank statements for the most recent three months for all accounts.</p>
          <p>7. In case of using corporate funds, a letter providing "all access", which states you as owner/partner has access to 100% of the company's funds.</p>
          <p>8. Identification</p>
          <ul>
            <li>A. Foreginers not living in USA - Visa and Passport</li>
            <li>B. Foreigners working in USA - Work Visa and Driver's License</li>
            <li>C. Permanent Resident - Resident Green Card, Driver's License & Social Security Number</li>
          </ul>
          <p>9. A legible copy of Purchase and Sales Agreement with all pages signed and copies of the cancelled checks for all deposits.</p>
          <p>10. Proof of source of the funds that have been used for all deposits.</p>
          <p>11. Cost of your local residence and letter of verification of origin (including rent, mortgage, maintenance, services and taxes).</p>
          <p>12. Completed application or questionnaire (given by the mortgage company).</p>
      </div>
    </div>
  </div>
</section>
