<section class="finance">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>FINANCING</h1>
        <hr>
        <a href="#next"><%= image_tag 'arrow-down-white.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="sky-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>LET US GUIDE YOU WITH FINANCING</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Crucial matter for many of our international buyers, therefore we solved the situation in advance and partnered up with a special selection of mortgage brokers firms specialized in foreign buyer’s transactions, offering always the best possible rates and terms in the market.</p>
      </div>
      <div class="col-md-5">
        <p>The opportunity of financing in the USA is always something to consider because o the competitive annual rates.
        <br><br>CONSULT TODAY’S RATE - View Sampe</p>
      </div>
    </div>
  </div>
</section>
<section class="finance-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LOREM IMPSUM</h1>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
            <hr>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
