<section class="house">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>HOW TO BUY A HOUSE</h1>
        <hr>
        <a href="#next"><%= image_tag 'arrow-down-white.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="house-info" id="next">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-6">
          <p>1. Contact us and request a meeting "one to one" either in Miami or in the city of your convenience.</p>
          <p>2. Let us know your interests:</p>
          <ul>
            <li>Type: House, apartment, land, waterfront mansion, investment, etc.</li>
            <li>Area: South Beach, Brickell, Coral Gables, Aventura, Sunny Isles, etc.</li>
            <li>Size: Number of bedrooms, Square Footage, Balconies, Heights, etc.</li>
            <li>View Priorities: Ocean View, Bay View, City View, etc.</li>
            <li>Condo-Style: Private pool, Corner Unit, Town House, Loft, etc.</li>
            <li>Main Objective: Investment, First Home, Second Home, Third Home, Rentals, Family Safety, Zone, etc</li>
          </ul>
          <p>3. Our specialized team will make a specific search under the criteria (on and off the market).</p>
          <p>4. Best opportunities will be provided and explained till your total satisfaction.</p>
        </div>
        <div class="col-sm-6">
          <p>5. Legal advice will be provided to prepare the case for the matter.</p>
          <p>6. Financial assistance will be provided. In case of financing, a brochure with all requirements will be sent to you. A person will be constantly in contact with you (one-to-one basis).</p>
          <p>7. Closing.</p>
          <p>8. Interior design & architecture assistance will be provided.</p>
          <p>9. Property management will be provided if necessary.</p>
          <p>10. Re-sale in the right moment will be assisted (in certain business-model).</p>
        </div>
      </div>
    </div>
  </div>
</section>
