<section class="top-section">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-md-12">
        <h1>INVESTMENTS</h1>
        <hr>
        <p>MIAMI INVESTMENTS OPPORTUNITIES</p>
        <a href="#next"><%= image_tag 'arrow-down-gray.svg' %></a>
      </div>
    </div>
  </div>
</section>

<section class="invest-1" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-5">
        <h1>INVEST WISELY</h1>
        <p>There is a deep ocean of opportunities to invest in Miami. Our duty is to assist you in the matter, that is the reason why we carefully select the most interesting projects and share them with our clientele. As a matter of fact, Qosta Miami is a formal partner of RETI who is owned by the same group as Transacta Developers, which today have ambitious projects throughout the city such as Marriot Hotels, shopping centers in South Beach prime-locations, high-end condominium developments, among others. Closing between 2013 and 2014 net sales of more than $400 millions dollars.</p>
      </div>
    </div>
  </div>
</section>

<section class="invest-2"></section>

<section class="invest-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <h1>How to buy a house</h1>
            <p>A quick guide on how to buy a house</p>
            <br>
            <%= link_to image_tag('arrow-right-gray.svg'), investments_how_to_buy_a_house_path, class: 'arrow-right-gray' %>
            <%= link_to image_tag('arrow-right-white.svg'), investments_how_to_buy_a_house_path, class: 'arrow-right-white' %>
          </div>
        </div>
      </div>
      <div class="col-md-7">
      </div>
    </div>
  </div>
</section>

<section class="bottom-section">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-md-12">
        <p>Coming Soon</p>
        <hr>
        <h1>NEWS / ARTICLES</h1>
      </div>
    </div>
  </div>
</section>
