<section class="legal">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>LEGAL ADVICE</h1>
        <hr>
        <a href="#next"><%= image_tag 'arrow-down-white.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="legal-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>LOREM IMPSUM ASAT AMET</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Legal assessment specialized in real estate and immigration matters by prestigious law firms who protect the client and his/her wealth as a priority. Absolutely all scenarios are analyzed, different</p>
      </div>
      <div class="col-md-5">
        <p>perspectives and all matters that can possibly impact the investment or acquisition process. Taxes play an important role in any purchase, this is why we contact the client to a specialized tax consultant in USA.</p>
      </div>
    </div>
  </div>
</section>
<section class="legal-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LOREM IMPSUM</h1>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
            <hr>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
