<section class="ocean">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>OCEAN CONCIERGE</h1>
        <hr>
        <a href="#next"><%= image_tag 'arrow-down-white.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="ocean-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>UNFORGETTABLE EXPERIENCE</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Plenty are the pleasures that life has to offer. Some are pure products of nature such as the unique blend of Caribbean Sea & the Atlantic Ocean which together offer an unforgettable experience. Observing the turquoise crystal-clear waters, colorful reefs, and a large variety of aquatic creatures such as the sting rays and dolphins. Being in the middle of this scenario, while getting refreshed by the breeze, holding a glass of ice-cold champagne, hearing at the back the laughs of your family and taking a deep breath while thinking; this is life. And life can be lived in so many different ways...</p>
      </div>
      <div class="col-md-5">
        <p>Let us help you enjoy Miami to its fullest, with our large variety of yachts and sailboats to rent and/or buy, followed by a qualified crew who’s mission is not to allow you to worry, stress or live any complications while aboard.</p>
      </div>
    </div>
  </div>
</section>
<section class="ocean-info">
  <div class="bkg"></div>
  <div class="container-fluid">
    <div class="row v-center">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-4">
          <p>Yachts 30s-60s ft</p>
          <hr>
          <ul>
            <li>35/48/54/55 Searay Sundancer / Roe</li>
            <li>56 Neptunus</li>
            <li>60 Marquis</li>
            <li>62 Power cat</li>
            <li>62 S Azimut</li>
            <li>65 Azimut</li>
            <li>70  Princess</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <p>Yachts 70s-90s ft</p>
          <hr>
          <ul>
            <li>75 Lazzara LSX</li>
            <li>75 Sunseeker Predator</li>
            <li>76 Horizon</li>
            <li>78 Numarine</li>
            <li>80 Azimut</li>
            <li>82 Sunseeker Predator</li>
            <li>84 Lazzara</li>
            <li>84 Azimut</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <p>Yachts +100s ft</p>
          <hr>
          <ul>
            <li>102 Azimut</li>
            <li>105 Mangusta</li>
            <li>116 Azimut</li>
            <li>122 Ocean Fast</li>
            <li>143 Van Mill</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="next-development" style="background:#fafafa;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>BACK TO</h3>
        <hr>
        <h1>CONCIERGE</h1>
        <%= link_to image_tag('arrow-right-gray.svg', style: 'transform: rotate(180deg);'), concierge_path %>
      </div>
    </div>
  </div>
</section>
