<section class="ocean">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>OCEAN CONCIERGE</h1>
        <a href="#next"><%= image_tag 'arrow.png' %></a>
      </div>
    </div>
  </div>
</section>
<section class="ocean-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>UNFORGETTABLE EXPERIENCE</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Plenty are the pleasures that life has to offer. Some are pure products of nature such as the unique blend of Caribbean Sea & the Atlantic Ocean which together offer an unforgettable experience. Observing the turquoise crystal-clear waters, colorful reefs, and a large variety of aquatic creatures such as the sting rays and dolphins. Being in the middle of this scenario, while getting refreshed by the breeze, holding a glass of ice-cold champagne, hearing at the back the laughs of your family and taking a deep breath while thinking; this is life. And life can be lived in so many different ways...</p>
      </div>
      <div class="col-md-5">
        <p>Let us help you enjoy Miami to its fullest, with our large variety of yachts and sailboats to rent and/or buy, followed by a qualified crew who’s mission is not to allow you to worry, stress or live any complications while aboard.</p>
        <br>
        <ul>
          <li>Aircraft technology & safety</li>
          <li>Quality Service above the sky</li>
          <li>Luxury & Comfort</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="ocean-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'projects.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LOREM IMPSUM</h1>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
            <hr>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
