<section class="sky">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Sky Concierge</h1>
        <hr>
        <a href="#next"><%= image_tag 'arrow-down-white.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="sky-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>EXPLORE THE SKY</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Always a classic necessity on several of our costumers, flying from any part of the world to Miami followed by a complementary executive pick-up service from the airport to your final destination. Providing a large variety of jets; Turbo Props, Very Light, Light, Medium, Super Medium and Heavy.</p>
        <br>
        <ul>
          <li>Aircraft technology & safety</li>
          <li>Quality Service above the sky</li>
          <li>Luxury & Comfort</li>
          <li>Enjoy & Relax</li>
        </ul>
      </div>
      <div class="col-md-5">
        <p>Helicopters are a versatile way of transportation not only for ultimate business executives which have the necessity of arriving to multiple  meetings & events throughout the city. But also to get to know Miami and its breathtaking natural locations with style; from the sky. With a large range of helicopter charters which have the capacity of up to 6 passengers & approx. 520 miles non-stop.</p>
        <br>
        <ul>
          <li>Aircraft technology & safety</li>
          <li>Miami from the Sky is always better</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="sky-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <!-- <h1>LOREM IMPSUM</h1> -->
            <div class="delimiter"></div>
            <p>Distance is not a limitation for us. We look beyond the formal real estate-investment transaction, as we believe clients must enjoy of a pleasant and flawless experience no matter where they are coming from.</p>
            <hr>
            <p>Helicopters (request information)</p>
            <a href="#next2"><%= image_tag 'arrow-down-gray.svg', class: 'more-info-arrow' %></a>
            <a href="#next2"><%= image_tag 'arrow-down-white.svg', class: 'more-info-arrow-2' %></a>
          </div>
        </div>
    </div>
  </div>
</div>
</section>
<section class="sky-info2" id="next2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="col-sm-12">
          <div class="row seven-cols">
            <div class="col-sm-1">
              <p>Turbo Prop</p>
              <hr>
              <ul>
                <li>King Air 350</li>
                <li>King Air 200</li>
                <li>King Air C90</li>
                <li>Pilatus PC12</li>
                <li>Cessna Caravan</li>
                <li>Cessna Grand Caravan EX</li>
                <li>Amphibian</li>
                <li>Piaggio Avanti 180</li>
              </ul>
            </div>
            <div class="col-sm-1">
              <p>Very Light Jet</p>
              <hr>
              <ul>
                <li>Citation CJ1</li>
                <li>Citation I/SP</li>
                <li>Citation Jet</li>
                <li>Citation Mustang</li>
                <li>Eclipse 500</li>
                <li>Phenom 100</li>
              </ul>
            </div>
            <div class="col-sm-1">
              <p>Light Jets</p>
              <hr>
              <ul>
                <li>Beechjet 400</li>
                <li>Beechjet 400A</li>
                <li>Citation Bravo</li>
                <li>Citation CJ3</li>
                <li>Citation CJ3</li>
                <li>Citation Encore</li>
                <li>Citation II/SP</li>
                <li>Citation S/II</li>
                <li>Citation Ultra</li>
                <li>Citation V</li>
                <li>Hawker 400 / 400XP</li>
                <li>Learjet 24</li>
                <li>Learjet 31</li>
                <li>Learjet 35</li>
              </ul>
            </div>
            <div class="col-sm-1">
              <p>Mid Size</p>
              <hr>
              <ul>
                <li>Citation Excel</li>
                <li>Hawker 850XP</li>
                <li>Learjet 40XR</li>
                <li>Learjet 60RX</li>
                <li>Hawker 700</li>
                <li>Gulfstream 100</li>
                <li>Citation XLS</li>
                <li>Hawker 900 XP</li>
                <li>Learjet 55</li>
                <li>Falcon 20</li>
              </ul>
            </div>
            <div class="col-sm-1">
              <p>Super Mid Size</p>
              <hr>
              <ul>
                <li>Falcon 50EX</li>
                <li>Gulfstream 280</li>
                <li>Falcon 2000</li>
                <li>Challenger 300</li>
                <li>Hawker 400</li>
                <li>Gulfstream 100</li>
                <li>Citation Sovereign</li>
                <li>Citation X</li>
                <li>Hawker 1000</li>
              </ul>
            </div>
            <div class="col-sm-1">
              <p>Large Cabin</p>
              <hr>
              <ul>
                <li>Global Express</li>
                <li>Falcon 7X</li>
                <li>Falcon 5X</li>
                <li>Gulfstream G650</li>
                <li>Gulfstream G550</li>
                <li>Challenger 850</li>
                <li>Falcon 900 EX</li>
                <li>Gulfstream G350</li>
                <li>Gulfstream G450</li>
                <li>Global 5000</li>
                <li>Legacy 600</li>
              </ul>
            </div>
            <div class="col-sm-1">
              <p>Jumbo Private</p>
              <hr>
              <ul>
                <li>Airbus A319</li>
                <li>Airbus A320</li>
                <li>Boeing Business Jet</li>
                <li>Boeing 727</li>
                <li>Boeing 747</li>
                <li>Boeing 757</li>
                <li>Boeing 767</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="next-development" style="background:#fafafa;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>BACK TO</h3>
        <hr>
        <h1>CONCIERGE</h1>
        <%= link_to image_tag('arrow-right-gray.svg', style: 'transform: rotate(180deg);'), concierge_path %>
      </div>
    </div>
  </div>
</section>
