<section class="sky">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Sky Concierge</h1>
        <a href="#next"><%= image_tag 'arrow.png' %></a>
      </div>
    </div>
  </div>
</section>
<section class="sky-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>EXPLORE THE SKY</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>Always a classic necessity on several of our costumers, flying from any part of the world to Miami followed by a complementary executive pick-up services from the airport to your final destination. Providing a large variety of jets; Turbo Props, Very Light, Light, Medium, Super Medium and Heavy.</p>
        <br>
        <ul>
          <li>Aircraft technology & safety</li>
          <li>Quality Service above the sky</li>
          <li>Luxury & Comfort</li>
          <li>Enjoy & Relax</li>
        </ul>
      </div>
      <div class="col-md-5">
        <p>Helicopters are a versatile way of transportation not only for ultimate business executives which have the necessity of arriving to multiple  meetings & events throughout the city. But also to get to know Miami and its breathtaking natural locations with style; from the sky. With a large range of helicopter charters which have the capacity of up to 6 passengers & approx. 520 miles non-stop.</p>
        <br>
        <ul>
          <li>Aircraft technology & safety</li>
          <li>Miami from the Sky is always better</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="sky-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <%= image_tag 'projects.jpg', class: 'img-responsive' %>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LOREM IMPSUM</h1>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
            <hr>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
