<section class="top-section">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-md-12">
        <h1>TEAM</h1>
        <hr>
        <p>GET TO KNOW WHO’S BEHIND</p>
        <a href="#next"><%= image_tag 'arrow-gray.png' %></a>
      </div>
    </div>
  </div>
</section>

<section class="team" id="next">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <%= image_tag 'senja.jpg', class: 'img-responsive' %>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1>SENJA ALEXEEVA</h1>
                <p>Miami’s Real Estate sales specialist, offering personalized & confidential service to international buyers. (Russian, Swedish, Canadian)</p>
                <br>
                <p>• English • Russian • Swedish</p>
                <br>
                <p><strong>Contact:</strong><br>P +1.786.209.4673<br>E senja@miamiqosta.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <%= image_tag 'franco.jpg', class: 'img-responsive' %>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1>FRANCO TOMMASI</h1>
                <p>Real Estate pre-construction specialist in Miami for more than 3 years. Offering a “one to one” service to international clients, mainly from Mexico and South America.(Argentina, Venezuela, Peru, Colombia)</p>
                <br>
                <p>• English • Spanish</p>
                <br>
                <p><strong>Contact:</strong><br>P +1.786.205.8800<br>E tommasi@miamiqosta.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <%= image_tag 'silvia.jpg', class: 'img-responsive' %>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1>SILVIA SABATES COLTRANE</h1>
                <p>CEO & Managing broker for Real Estate Transactions International & Transacta Developers. With more than 35 years of experience, specialized in real estate investment opportunities & development of high-end residential projects, shopping centers & hotels. As well purchase/sell of prime - location lands throughout the South Florida.</p>
                <p>• English • Spanish</p>
                <p><strong>Contact:</strong><br>P +1.305.867.6344<br>E master@retimiami.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
