<section class="time">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>TIME MANAGEMENT</h1>
        <hr>
        <a href="#next"><%= image_tag 'arrow-down-white.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="time-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>ENJOY ALL YOUR TIME</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>For most of the people, one of the most precious thingsin life is time. It may take a few minutes to look up a good guld course, or to find out which is the best restaurant in the city to celebrate an anniversary, or to figure out which club has the best ambience on a Wednesday and where can you call to get a good table (and will they really</p>
      </div>
      <div class="col-md-5">
        <p>reserve you a good one?), or to research for the best Spa for couple treatments in Miami (you will probably have to make some calls). But if you add up all that time, maybe it ends up a while. Perhaps a day! Why worry about all those matters when you have our team to support & take care of you?</p>
      </div>
    </div>
  </div>
</section>
<!-- <section class="time-info">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>LOREM IMPSUM</h1>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
            <hr>
            <p>lorem Impsum asat</p>
            <hr>
            <p>lorem Impsum asat<br>anat asat loremp impsum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="next-development" style="background:#fafafa;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h3>BACK TO</h3>
        <hr>
        <h1>CONCIERGE</h1>
        <%= link_to image_tag('arrow-right-gray.svg', style: 'transform: rotate(180deg);'), concierge_path %>
      </div>
    </div>
  </div>
</section>
