<section class="visa">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>VISA EB-5</h1>
        <hr>
        <a href="#next"><%= image_tag 'arrow-down-white.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="legal-content" id="next">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Eb-5 Visa Overview</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>The EB-5 visa is an U.S. government immigration program that allows foreign nationals to obtain a U.S. green card.</p>
      </div>
      <div class="col-md-5">
        <p> The program requires a qualifying investment of at least $500,000, which creates 10 jobs.</p>
      </div>
    </div>
  </div>
</section>
<hr style="width:100%;">
<section class="legal-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Why EB-5 Visa?</h1>
        <div class="delimiter"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <p>The EB-5 visa program is a sterling example of America’s progressive approach for inviting foreign citizens to live and work in the United States. It gives smart, driven individuals such as you an opportunity to focus efforts on projects that enhance U.S. communities while also enhancing your own life. By investing in an approved EB-5 project through a designated regional center, you and your immediate family receive a U.S. resident status. The Eb-5 visa program compared to other programs is one of the most direct and quickest ways to obtain a green card. As a permanent resident, you will enjoy numerous benefits, including:</p>
      </div>
      <div class="col-md-5">
        <ul>
          <li>The chance to become a full-fledged U.S. citizen in as little as five years.</li>
          <li>Safety and security for your family and finances.</li>
          <li>Access to the world’s best universities, medical care, and social programs at the same cost paid by U.S. citizens.</li>
          <li>The ability to openly express thoughts, ideas and opinions without restriction or punishment.</li>
          <li>Freedom to establish your business, buy property or own a home anywhere in the United States.</li>
          <li>The ability to stay in the US for more than 6 months.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="visa-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Eb-5 Visa Requirements</h1>
            <p>$500,000 investment ($1,000,000 if project is not located in targeted employment area)</p>
            <hr>
            <p>Investment must create 10 full-time jobs per investor</p>
            <hr>
            <p>Documents showing that investment came from legal funds</p>
            <hr>
            <p>Investor must meet general immigration requirements (medical exam, criminal background check)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="visa-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1>Eb-5 Visa Immigration Timeline</h1>
        <hr>
        <ul>
          <li>12-14 month – Temporary Green Card Approval</li>
          <li>The investor can expect to receive his approval for a temporary green card twelve</li>
          <li>Fourteen months from the date of application.</li>
        </ul>
        <hr>
        <ul>
          <li>2-3 years – Permanent Green Card</li>
          <li>Twenty-one months after receiving his temporary green card, the investor files a petition to remove conditions.</li>
          <li>Once the conditions are removed, the green card becomes permanent.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="visa-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <h1>2 Investment Options </h1>
            <p>1. DIRECT</p>
            <p>A foreign national can invest into his own business and create 10 jobs.</p>
            <p>2. REGIONAL CENTER</p>
            <p>Investor can invest into a Regional Center – an entity that develops the business, creates 10 jobs and prepares documents for USCIS. Most investors chose regional center projects, because it is easier than operating your own EB-5- qualifying business.</p>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-md-7">
      </div>
    </div>
  </div>
</section>

<section class="visa-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-10">
            <h1>Eb-5 Visa Return of Investment</h1>
            <p>Investors can expect to be paid back in 5-7 years, depending on the project.</p>
            <hr>
            <p>Interest earned on the investment range from 1% – 6% annual</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="visa-6">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-md-12">
        <p>SEE ALSO</p>
        <hr>
        <h1>EB-5 Visa Immigrant<br>Investor Program</h1>
        <%= link_to image_tag('arrow-right.png'), integral_service_eb5_program_path, class: 'arrow-right' %>
      </div>
    </div>
  </div>
</section>
