<section class="top-section">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-md-12">
        <h1>CONTACT</h1>
        <hr>
        <p>USE THE FORM</p>
        <a href="#next"><%= image_tag 'arrow-gray.png' %></a>
      </div>
    </div>
  </div>
</section>

<section class="contact-mid" id="next">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>EMAIL</h2>
        <hr>
        <p>info@miamiqosta.com</p>
      </div>
      <div class="col-sm-4">
        <h2>ADDRESS</h2>
        <hr>
        <p>9537 Harding Avenue Surfside<br>Miami, FL 33154</p>
      </div>
      <div class="col-sm-4">
        <h2>PHONE</h2>
        <hr>
        <p>+1.786.205.8800  (Eng | Esp)<br>+1.786.209.4673  (Eng | Rus | Swe)</p>
      </div>
    </div>
  </div>
</section>
<section class="contact-arrow">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p><i class="fa fa-caret-down fa-4x"></i></p>
      </div>
    </div>
  </div>
</section>

<section class="contact-form">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
