<section class="top-section">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-md-12">
        <h1>Development</h1>
        <hr>
        <p>SEARCH FOR YOUR FEATURE HOME</p>
        <a href="#next"><%= image_tag 'arrow-down-gray.svg' %></a>
      </div>
    </div>
  </div>
</section>
<section class="development-btm" id="next">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4">
            <%= link_to new_developments_path do %>
              <h1>NEW<br>DEVELOPMENTS</h1>
              <hr>
            <% end %>
          </div>
          <div class="col-sm-4">
            <h1>EXISTING<br>DEVELOPMENTS</h1>
            <hr>
            <p>COMING SOON</p>
          </div>
          <div class="col-sm-4">
            <h1><br>RESIDENCES</h1>
            <hr>
            <p>COMING SOON</p>
          </div>
      </div>
    </div>
  </div>
</section>
