<!-- <section class="new-developments">
  <div class="top">
    <h1>New Developments</h1>
    <hr>
  </div>
  <a href="#decription"><%= image_tag 'arrow-down-gray.svg', class: 'scroll-down' %></a>
</section> -->

<section class="development-list" id="decription">
  <div class="container-fluid">
    <div class="row">
      <% @newdev.each do |n| %>
        <div class="col-xs-12 col-sm-4 hover-dev" style="padding-left:0;padding-right:0;">
          <div class="hover-development"></div>
          <h3><%= link_to "#{n.name}", n %></h3>
          <%= link_to image_tag(n.featured_image.url(:retina), class: 'img-responsive'), n %>
        </div>
      <% end %>
    </div>
  </div>
</section>
