<% title 'Blog' %>

<section class="top-section">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-sm-12">
        <h1>NEWS / Blog</h1>
        <hr>
        <p>STAY UPDATED</p>
        <a href="#next"><%= image_tag 'arrow-down-gray.svg' %></a>
      </div>
    </div>
  </div>
</section>

<section id="next">
  <% @posts.each do |p| %>
    <div class="container-fluid">



    </div>
  <% end %>
</section>
