<% title 'Blog' %>

<section class="top-section">
  <div class="container-fluid v-align">
    <div class="row">
      <div class="col-sm-12">
        <h1>NEWS / Blog</h1>
        <hr>
        <p>STAY UPDATED</p>
        <a href="#next"><%= image_tag 'arrow-down-gray.svg' %></a>
      </div>
    </div>
  </div>
</section>

<% @posts.each do |p| %>
  <section id="next" class="posts" style="background-image: url(<%= p.featured_image %>)">
    <div class="bkg"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 v-align">
          <h2><%= p.title %></h2>
          <%= link_to 'Read More', p %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<script>
  (function($) {
    $('.posts').each(function() {
      if (! isMobile.any() ) {
        $(this).parallax('50%', .3, true);
      } else {
        $(this).css('background-attachment', 'initial')
      }
    })
  }(jQuery));
</script>
