$qgray: #6d6e71;


// Nav Bar
.header-3 {
  .navbar-header{
    padding-top: 20px;
    float: none;
    .col-md-4-left {
      @extend .col-md-4;
      float: left;
      padding-top:10px;
      ul {
        padding-left: 0;
      }
      li {
        display: inline-block;
        &:after{
          content: ' | ';
        }
        &:last-child:after {
          content: ' ';
        }
      }
      a {
        color: #000000;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        display: none;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    .col-md-4-center {
      @extend .col-md-4;
      img {
        margin: 0 auto;
        display: block;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        float: left;
      }
      @media (max-width: 767px) {
        float: left;
      }
    }
    .col-md-4-right {
      @extend .col-md-4;
      text-align: right;
    }
  }
}

// Menu
  .menu {
    color: $qgray;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    position: fixed;
    z-index: 100;
    top: 33px;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    &:active, &:focus, &:hover{
      color: $qgray;
    }
    img {
      width: 38px;
      margin-top: -5px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      right:20px;
      color: #ffffff;
      &:active, &:focus, &:hover{
        color: #ffffff;
      }
    }
    @media (max-width: 767px) {
      right:20px;
      color: #ffffff;
      &:active, &:focus, &:hover{
        color: #ffffff;
      }
    }
  }

// Home Page
.header-15-sub-home {
  @extend .header-15-sub;
  .background {
    background-image:url(image-path("home-main.jpg"));
    opacity: 1;
    background-attachment: fixed;
    height:100vh;
  }
  h2 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 25px;
    font-weight: 100;
    text-align: left;
    margin-bottom:0px;
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
  .delimiter {
    @media (min-width: 768px) and (max-width: 991px) {
      margin-top: 110px;
    }
    @media (max-width: 767px) {
      margin-top: 110px;
    }
  }
  .delimiter2 {
    @extend .delimiter;
    margin-top: 150px;
  }
  h1 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 45px;
    font-weight: 300;
    text-align: right;
    margin-top:-8px;
  }
  p {
    margin-top: 60px;
    margin-bottom: 0px !important;
    font-family: 'Lato', sans-serif;
    font-size: 10px !important;
    font-weight: 300;
    color: #ffffff;
  }
  .scroll-down {
    cursor: pointer;
  }
  .container-fluid-home{
    @extend .container-fluid;
    .col-md-12 {
      background: rgba(250, 250, 250, 0.6);
      img {
        display: inline-block;
        margin: 0 auto;
        padding: 0 10px;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      display:none;
    }
    @media (max-width: 767px) {
      display:none;
    }
  }
}

.home-content {
  padding-top:125px;
  padding-bottom:150px;
  h1 {
    font-family: 'Lato', sans-serif;
    color: $qgray;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
  }
  p {
    font-family: 'Lato', sans-serif;
    color: $qgray;
    font-weight: 300;
  }
  ul {
    padding-left: 15px;
    li {
      font-family: 'Lato', sans-serif;
      color: $qgray;
      font-weight: 300;
    }
  }
  .delimiter {
     margin-top: 100px;
  }
}

.project-home {
  h1 {
    font-family: 'Lato', sans-serif;
    color: $qgray;
    font-size: 45px;
    font-weight: 300;
    text-align: left;
    padding-top: 50%;
  }
  .arrow {
    padding-left: 80px;
  }
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .diagonal {
    border: 570px #ffffff solid;
    position: absolute;
    top: 0;
    left: -160px;
    transform: rotate(15deg);
    z-index: -1;
  }
}


// Footer
.footer-2 {
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color:#ffffff;
  }
  a {
    color:#ffffff;
  }
}
