// Nav Bar
.header-3 {
  .navbar-header{
    padding-top: 20px;
    float: none;
    .col-md-4-left {
      @extend .col-md-4;
      float: left;
      padding-top:10px;
      ul {
        padding-left: 0;
      }
      li {
        display: inline-block;
        &:after{
          content: ' | ';
        }
        &:last-child:after {
          content: ' ';
        }
      }
      a {
        color: #000000;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        display: none;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    .col-md-4-center {
      @extend .col-md-4;
      img {
        margin: 0 auto;
        display: block;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        float: left;
      }
      @media (max-width: 767px) {
        float: left;
      }
    }
    .col-md-4-right {
      @extend .col-md-4;
      text-align: right;
    }
  }
}

// Menu
  .menu {
    color: #575757;
    position: fixed;
    z-index: 100;
    top: 33px;
    right: 145px;
    font-size: 22px;
    &:active, &:focus, &:hover{
      color: #575757;
    }
    img {
      width: 38px;
      margin-top: -5px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
      right:20px;
    }
    @media (max-width: 767px) {
      right:20px;
    }
  }

// Home Page
.header-15-sub-home {
  @extend .header-15-sub;
  .background {
    background-image:url(image-path("home-main.jpg"));
    opacity: 1;
    background-attachment: fixed;
    height:100vh;
  }
}
