<div class="container">
  <nav class="pull-left">
    <p>© 2015 - All Rights Reserved</p>
  </nav>
  <div class="pull-right">
    <p>Designed with &hearts; in miami by <a href="http://stiltmedia.com" target="_blank">stiltmedia</a></p>
  </div>

</div>
