<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class="pull-left">
        <p>© 2015 - All Rights Reserved</p>
      </div>
      <div class="pull-right">
        <p>Designed with love by <a href="http://stiltmedia.com" target="_blank">stiltmedia</a></p>
      </div>
    </div>
  </div>
</div>
