<header class="header-3">
  <div class="container">
    <div class="row">
      <nav class="navbar col-sm-12 navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <div class="row">
          <div class="col-md-4-left">
            <ul>
              <li><a href="#">ENG</a></li>
              <li><a href="#">ESP</a></li>
              <li><a href="#">RUS</a></li>
              <li><a href="#">POR</a></li>
            </ul>
          </div>
          <div class="col-md-4-center">
            <%= link_to image_tag('miami-qosta-logo.png'), root_path %>
          </div>

          <div class="col-md-4-right">
            <p>MENU</p>
          </div>
        </div>

        <!-- <div class="collapse navbar-collapse pull-right">
          <ul class="nav pull-left">
            <li><a href="#">HOME</a></li>
            <li><a href="#">WORK</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div> -->
      </div>
      </nav>
    </div>
  </div>
  <div class="header-background"></div>
</header>
