<header class="header-3">
  <div class="container">
    <div class="row">
      <nav class="navbar col-sm-12 navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <%= link_to image_tag('logo.svg', class: 'logo-top'), root_path %>
        </div>
      </nav>
    </div>
  </div>
  <div class="header-background"></div>
</header>
