<header class="header-3">
  <div class="container">
    <div class="row">
      <nav class="navbar col-sm-12 navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <div class="row">
          <div class="col-md-4-left">
          </div>
          <div class="col-md-4-center">
            <%= link_to image_tag('logo.svg'), root_path %>
          </div>
          <div class="col-md-4-right">
          </div>
        </div>
      </div>
      </nav>
    </div>
  </div>
  <div class="header-background"></div>
</header>
