<div>
  <select class="cs-select cs-skin-elastic">
    <option value="" disabled selected>Language</option>
    <option style="padding:2em 0em 0em 1em;">Coming Soon</option>
    <!-- <option value="spain" data-class="flag-spain">Español</option>
    <option value="france" data-class="flag-france">français</option>
    <option value="brazil" data-class="flag-brazil">Português</option>
    <option value="russia" data-class="flag-russia">русский</option> -->
  </select>
</div>
