<button id="ody-trigger" type="button" class="tcon tcon-menu--xbutterfly" aria-label="toggle menu">
  <h3 class="menu-title">Menu</h3>
  <span class="tcon-menu__lines" aria-hidden="true"></span>
</button>
